body{
  margin: 0;
  padding: 0;
  height: 100%; 
  width: 100%; 
  background-image: url('imagem/fundo_tela_inicial.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}